.footer {
  position: flex;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 50px;
  overflow: hidden;
  margin-left: 20px;
}

.noJobs {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 50px;
  overflow: hidden;
  margin-left: 20px;
}