

.App {
  display: flex;
  flex-wrap: wrap;
}

.inputform {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 300px;
  margin-bottom: 50px;
}

.job-content {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}







