

.App {
  display: flex;
  flex-wrap: wrap;
}

.inputform {
  margin: 44px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 300px;
}

.job-content {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  margin: 15px;
}

.results {
  margin: 10px;
}







