

.App {
  display: flex;
  flex-wrap: wrap;
}

.inputform {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 300px;
}

.job-content {
  display: block;
  justify-content: left;
}





